<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
@{
    ViewData["Title"] = "Crear";
}

<form method="post" action="/Notas/Crear">
    <h1>Crear Nota</h1>

    <h3>Titulo: </h3>
    <br />
    <input name="titulo" type="text" />
    <br />
    <br />
    <h3>Contenido: </h3>
    <br />
    <textarea class="form-control" id="contedPlug" name="contenido">
</textarea>



    <br />
    <br />
    <button type="submit">Crear</button>
</form>




<script type='text/javascript'>
    var simplemde = new SimpleMDE({ element: document.getElementById('contedPlug') });
</script>