<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post" action="/Nota/Edit">
    <input hidden name="idNo" value="@ViewBag.NotaComoTal.idNota" />
    <h1>Editar @ViewBag.NotaComoTal.tituloNota</h1>

    <h3>Titulo: </h3>
    <br />
    <input name="titulo" type="text" value="@ViewBag.NotaComoTal.tituloNota" />
    <br />
    <br />
    <h3>Contenido: </h3>
    <br />
    <textarea class="form-control" id="contedPlug" name="contenido">
 @ViewBag.NotaComoTal.contenidoNota
</textarea>



    <br />
    <br />
    <button type="submit">Guardar</button>
</form>




<script type='text/javascript'>
    var simplemde = new SimpleMDE({ element: document.getElementById('contedPlug') });
</script>