<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>


@model T3_2021_2.Models.Nota
@{
    ViewBag.Title = "Editar";
}

<h1>Editar</h1>

<form method="post" action="/Nota/Editar">

    <input hidden name="idNo" value="@Model.Id"/>
    <h1>Editar @Model.nombre </h1>

    <h3>Titulo: </h3>
    <br/>
    <input name="titulo" type="text" value="@Model.nombre"/>
    <br/>
    <br/>
    <h3>Contenido: </h3>
    <br/>
    <textarea class="form-control" id="contedPlug" name="contenido">
 @Model.descripcion 
</textarea>



    <br/>
    <br/>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>




<script type='text/javascript'>
    var simplemde = new SimpleMDE({ element: document.getElementById('contedPlug') });
</script>